<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/cover.css}" rel="stylesheet"/>
<meta charset="UTF-8"/>
<title>水灾预警系统</title>
<h1 class="cover-heading">欢迎来到水灾预警系统</h1>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

           <div class="cover-container">

              <div class="inner cover">
             <p class="lead">
              <a href="/upload" class="btn btn-lg btn-default">传感器上传数据</a>
             </p>
            </div>
           </div>

              <div class="cover-container">
                <div class="inner cover">
                    <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default">管理员登录分析数据</a>
                    </p>
                </div>
              </div>

    </div>

</div>

</body>
</html>